@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeNG */
/* Theme and core styles are handled differently in v20 or not present in resources */
@import "primeicons/primeicons.css";

/* Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}